.app.dark {
    --bg-color: #091f80;
    --inverted-bg-color: #cecfda;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #251e98;
    --inverted-secondary-color: #1561d3;
}
