.app.light {
  --bg-color: #cecfda;
  --inverted-bg-color: #091f80;

  --primary-color: #251e98;
  --secondary-color: #1561d3;

  --inverted-primary-color: #56ab12;
  --inverted-secondary-color: #22c72b;
}
